/* footer */
.footer {
	margin-top: auto;
	margin-left: auto;
	@include media('>desktop') {
		margin: auto 0 0;
	}
	&__account-info {
		display: flex;
		align-items: center;
		gap: 1.2rem;
		@include media('>desktop') {
			align-items: unset;
		}
		&-image {
			border-radius: 50%;
		}
		&-text {
			font-size: 1.2rem;
		}
		&-title {
			margin: 0;
		}
		&-position {
			color: $gray-03;
			display: none;
			@include media('>desktop') {
				display: block;
			}
		}
	}
}
